.pagecontent {
    margin: 50px
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background-color: rgb(63,81,181);
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}